<li class="flex flex-row p-2">
  <div class="w-4/6">
    <a href="{{ details.url }}">{{ details.title }} by {{details.by}}</a>
  </div>

  <div class="w-2/6">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
      hx-get="/news/story/{{ details.id }}/details" hx-target="next #show-details" hx-swap="innerHTML"
      hx-trigger="click" hx-indicator="next #loading">
      Preview
    </button>

    <button class="bg-blue-500 hover:bg-orange-700 text-white font-bold py-1 px-2 rounded"
      hx-get="/news/story/{{ details.id }}/favorite" hx-target="this" hx-swap="innerHTML">
      {% if favorited %}
      ✅
      {% else %}
      ⭐️
      {% endif %}
    </button>
  </div>

  <div id="show-details"></div>
</li>
