<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <style type="text/css">
    .htmx-indicator {
      opacity: 0;
      transition: opacity 500ms ease-in;
    }

    .htmx-request .htmx-indicator {
      opacity: 1
    }
  </style>
</head>

<body>
  <div class="flex flex-row">
    <div class="w-2/3 mx-auto p-4">
      <h1 class="uppercase text-blue-400 font-bold">
        Latest Stories
      </h1>

      <ul hx-get="/news/more" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></ul>
    </div>

    <div class="w-2/3 mx-auto p-4">
      <h1 class="uppercase text-blue-400 font-bold">
        Favorited
      </h1>

      <ul hx-get="/news/favorites" hx-target="this" hx-swap="innerHTML" hx-trigger="load, favorited-event from:body">
      </ul>
    </div>
  </div>

  <section class="w-1/2 mx-auto p-4">
    <div id="story-details"></div>
    <span id="loading" class="htmx-indicator">Loading details...</span>
  </section>
</body>

</html>
