<div class="w-full flex justify-center font-sans">
  <div class="p-4 w-full lg:w-3/4 lg:max-w-lg">
    <div class="mb-4">
      <div class="flex mt-4">
        <form id="todo-form">
          <input name="details" class="shadow appearance-none border rounded py-2 px-3 mb-4 text-black"
                                placeholder="Add Todo">

          <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal"
                  hx-post="/todos" hx-include="#todo-form" hx-target="#todo-list" hx-swap="beforeend">Add</button>
        </form>
      </div>
    </div>

    <div id="todo-list">
      {{range .}}
      {{ template "todo-item" . }}
      {{end}}
    </div>
  </div>
</div>
