<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Distributex</title>
</head>

<body class="h-screen bg-gray-900 text-white">
  <div class="w-2/3 mx-auto text-center mt-14">
    <h1 class="uppercase text-blue-400 font-bold" hx-target="find">Distributex - HTMX & NGINX ❤️</h1>
    <p>
      This is a POC of micro frontend architecture using HTMX and TailwindCSS and multiple backends.
    </p>
  </div>

  <div class="w-full h-1/2 m-2 flex mt-10">
    <div class="w-1/2 mx-auto px-6 overflow-y-scroll">
      <h1 class="text-grey-400 text-center font-bold">Todo List</h1>
      <div hx-get="/todos" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>
    </div>

    <div class="w-1/2 mx-auto px-6 overflow-y-scroll">
      <h1 class="text-grey-400 pb-4 font-bold">Chat</h1>
      <div hx-get="/chat" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>
    </div>
  </div>

  <div class="h-1/2 w-full mx-auto p-4 border-1">
    <h1 class="text-grey-400 text-center font-bold">Tech news</h1>
    <div hx-get="/news" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>
  </div>

  <div class="w-1/2 mx-auto p-4 border-1 text-center">
    <h1 class="text-grey-400 font-bold">See other UXs</h1>
    <ol>
      <li>
        <a href="http://localhost:4040/retro.html" target="_blank">90s version of this</a>
      </li>
      <li>
        <a href="http://localhost:4001" target="_blank">Todos app UX</a>
      </li>
      <li>
        <a href="http://localhost:4002" target="_blank">Chat app UX</a>
      </li>
      <li>
        <a href="http://localhost:4003" target="_blank">News app UX</a>
      </li>
    </ol>
  </div>
</body>

</html>
