<div id="chat" hx-ext="ws" ws-connect="/chat/ws?username={{ username }}">
  <span>Username: {{ username }} </span>

  <div id="chat_room" class="flex flex-col overflow-y-scroll h-64 bg-slate-900">
  </div>

  <!-- This sends a message when the user clicks the "favorited" button -->
  <form id="article-event-form"  hx-trigger="favorited-event from:body" ws-send>
    <input hidden name="message" value="-- just favorited an article --"/>
    <input hidden name="username" value="{{ username }}">
  </form>

  <form id="todo-event-form"  hx-trigger="todo-added from:body" ws-send>
    <input hidden name="message" value="-- just added a todo item --"/>
    <input hidden name="username" value="{{ username }}">
  </form>

  <form id="form" class="flex flex-row space-4" ws-send>
    <input class="w-full p-4 text-black" name="message" value="" placeholder="Message" />
    <input hidden name="username" value="{{ username }}" hx-trigger="load" ws-send>

    <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green border-green hover:bg-green">Send</button>
  </form>
</div>
